button{
    margin-bottom: 20px;
    width: 100%;
}

button.waves-effect.waves-yellow.btn-large.grey.darken-3.white-text.active{
    background: #ffeb3b !important;
    background-color: #ffeb3b !important;
    color: #000 !important;
}

form span{
    color: #ffeb3b;
}

.input-field input:focus + label {
    color: #ffeb3b !important;
}

.input-field label {
    pointer-events: all !important;
}
  
.input-field input:focus {
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.input-field i{
    color: #ffeb3b !important;
}

.input-field i.active{
    color: #212121 !important;
}

.x-axis{
    color: #fff;
}

.y-axis{
    color: #fff;
}